<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>

<form>
  <div class="mb-3" action="/" method="GET">
    <label for="i" class="form-label">Запрос: </label>
    <input name="query" class="form-control" id="i" aria-describedby="emailHelp" type="text">
    <div id="emailHelp" class="form-text">Введите запрос и подождите ответа ниже</div>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
<!--<form action="/" method="GET">-->
<!--    <input name="query" id="i" type="text">-->
<!--    <label for="i">Запрос: </label>-->
<!--    <button>Отправить</button>-->
<!--</form>-->

<div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">link</th>
    </tr>
  </thead>
  <tbody>
  {% if result %}
  {% for res in result %}
      <tr>
          <th scope="row">#</th>
          <td>{{res}}</td>
      </tr>
  {% endfor %}
    {% endif %}
  </tbody>
</table>

</div>

</body>
</html>